// 此配置文件采用 KDL 格式：https://kdl.dev
// "/-" 注释掉后面的节点
// 完整配置说明请查阅维基：
// https://yalter.github.io/niri/Configuration:-Introduction

// 环境变量配置
include "conf.d/env.kdl"

// 输入设备配置
include "conf.d/input.kdl"

// 输出设备配置
include "conf.d/output.kdl"

// 窗口定位和大小的设置
include "conf.d/layout.kdl"

// 配置 niri 环境初始化过程中 必要/可选 的自启动程序
include "conf.d/startup.kdl"

hotkey-overlay {
    // 取消注释此行以禁用启动时的"重要快捷键"弹出窗口
    skip-at-startup
}

// 取消注释此行以请求客户端尽可能省略其客户端装饰
// 如果客户端特别请求 CSD，将尊重该请求
// 此外，客户端将被告知它们是平铺的，移除一些客户端圆角
// 此选项还将修复某些半透明窗口后面的边框/焦点环绘制
// 启用或禁用此选项后，需要重新启动应用程序才能生效

// 去除窗口的标题栏
prefer-no-csd

// 可更改屏幕截图的保存路径
// 开头的 ~ 将扩展为主目录
// 路径使用 strftime(3) 格式化，为您提供屏幕截图的日期和时间
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// 也可将其设置为 null 以禁用将屏幕截图保存到磁盘
// screenshot-path null

// 光标主题
cursor {
    // 主题
    xcursor-theme "breeze_cursors"
    // 大小
    xcursor-size 27
    // 闲置时隐藏光标
    hide-after-inactive-ms 15000
}

// 动画设置
// 维基解释了如何配置单个动画：
// https://yalter.github.io/niri/Configuration:-Animations
animations {
    // 取消注释以关闭所有动画
    // off

    // 按此系数减慢所有动画。低于 1 的值将加快动画速度
    // slowdown 3.0
}

// 窗口规则允许您调整单个窗口的行为
// 更多信息请查阅维基：
// https://yalter.github.io/niri/Configuration:-Window-Rules

// 窗口规则配置
include "conf.d/window-rule.kdl"

// 配置按键绑定
include "conf.d/bind.kdl"

// 配置其它特殊机器的特殊需求
include "conf.d/local-override.kdl"

