// input.kdl
// 输入设备配置
// 完整选项列表请查阅维基：
// https://yalter.github.io/niri/Configuration:-Input
input {

    keyboard {
        xkb {
        // 可设置规则、模型、布局、变体和选项
        // 更多信息请参阅 xkeyboard-config(7)

        // 例如：
        // layout "us,ru"
        // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"

        // 如果此部分为空，niri 将从 org.freedesktop.locale1 获取 xkb 设置
        // 您可以使用 localectl set-x11-keymap 控制这些设置
        }

        // 启动时启用数字锁定键，省略此设置则禁用
        numlock
    }

    // 以下部分包含 libinput 设置
    // 省略设置将禁用它们，或保留其默认值
    // 此处所有注释掉的设置均为示例，并非默认值
    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }

    // 取消注释此行可使鼠标跳转到新聚焦窗口的中心
    // warp-mouse-to-focus

    // 当鼠标移入时自动聚焦窗口和输出
    // 设置 max-scroll-amount="0%" 使其仅对已完全在屏幕上的窗口生效
    focus-follows-mouse max-scroll-amount="0%"
}
