// startup.kdl
// 此处存放 niri 环境初始化过程中 必要/可选 的自启动程序

// 添加类似此行以在启动时生成进程
// 注意：作为会话运行 niri 支持 xdg-desktop-autostart，使用起来可能更方便
// 要运行 shell 命令（包含变量、管道等），请使用 spawn-sh-at-startup：
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"
// 更多生成示例请参阅下面的 binds 部分

// --- --- --- niri 初始化配置 --- --- ---

// 导入环境变量到 Systemd
spawn-at-startup "dbus-update-activation-environment" "--all"
// 启用 XWayland 支持
spawn-at-startup "xwayland-satellite"

// --- --- --- 应用程序配置 --- --- ---

