// startup.kdl
// 此处存放 niri 环境初始化过程中 必要/可选 的自启动程序

// 添加类似此行以在启动时生成进程
// 注意：作为会话运行 niri 支持 xdg-desktop-autostart，使用起来可能更方便
// 要运行 shell 命令（包含变量、管道等），请使用 spawn-sh-at-startup：
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"
// 更多生成示例请参阅下面的 binds 部分

// --- --- --- 桌面后端配置 --- --- ---
// 设置默认的图形化后端
spawn-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP=niri & /usr/lib/xdg-desktop-portal-gtk"

// 深色模式
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "color-scheme" "prefer-dark"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "icon-theme" "'Papirus-Dark'"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "gtk-theme" "Nordic"

// 终端模拟器
spawn-at-startup "xdg-mime" "default" "ghostty.desktop" "x-scheme-handler/terminal"

// 文件管理器
spawn-at-startup "xdg-settings" "set" "default-web-browser" "firefox.desktop"
spawn-at-startup "xdg-mime" "default" "thunar.desktop" "inode/directory"

// 默认图片启动器
spawn-at-startup "xdg-mime" "default" "org.gnome.Loupe.desktop" "image/jpeg"
spawn-at-startup "xdg-mime" "default" "org.gnome.Loupe.desktop" "image/png"
spawn-at-startup "xdg-mime" "default" "org.gnome.Loupe.desktop" "image/gif"
spawn-at-startup "xdg-mime" "default" "org.gnome.Loupe.desktop" "image/webp"
spawn-at-startup "xdg-mime" "default" "org.gnome.Loupe.desktop" "image/bmp"
spawn-at-startup "xdg-mime" "default" "org.gnome.Loupe.desktop" "image/tiff"
spawn-at-startup "xdg-mime" "default" "org.gnome.Loupe.desktop" "image/svg+xml"

// 默认电子书查看器
spawn-at-startup "xdg-mime" "default" "org.pwmt.zathura.desktop" "application/pdf"
spawn-at-startup "xdg-mime" "default" "org.pwmt.zathura.desktop" "application/epub+zip"
spawn-at-startup "xdg-mime" "default" "org.pwmt.zathura.desktop" "application/x-filler"
spawn-at-startup "xdg-mime" "default" "org.pwmt.zathura.desktop" "image/vnd.djvu"
spawn-at-startup "xdg-mime" "default" "org.pwmt.zathura.desktop" "application/x-cbr"
spawn-at-startup "xdg-mime" "default" "org.pwmt.zathura.desktop" "application/x-cbz"

// 加载配置
spawn-at-startup "dbus-update-activation-environment" "--all"
spawn-at-startup "/usr/lib/xdg-desktop-portal-gtk" "-r"


// --- --- --- 其他应用配置 --- --- ---
// 状态栏配置
spawn-at-startup "waybar"

// 护眼模式配置
spawn-at-startup "wlsunset" "-l" "40.0" "-L" "116.0"

// 自启动消息通知
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "mako"

// 自启动输入法
spawn-at-startup "fcitx5"

// 自启动锁屏
spawn-at-startup "~/.config/niri/scripts/swayidle.sh"

// 剪贴板管理器
spawn-at-startup "wl-clip-persist" "--clipboard" "regular"

// 壁纸工具设置
spawn-at-startup "swww-daemon"

