// window-rule.kdl
// 此处存放 niri 环境中 必要/可选 的窗口规则配置

// 示例：从屏幕捕获中屏蔽两个密码管理器
// (此示例规则以 "/-" 开头注释掉)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // 如果希望它们在第三方屏幕截图工具中可见，请改用此设置
    // block-out-from "screencast"
}

// 所有窗口都应用的规则
window-rule {
    // --- 启用圆角 ---
    geometry-corner-radius 12
    clip-to-geometry true
    // --- 不透明度 ---
    opacity 0.95
    draw-border-with-background false
}

// 通过设置空默认列宽度解决 WezTerm 的初始配置错误
window-rule {
    // 此正则表达式特意尽可能具体，因为这是默认配置，我们不希望出现误报
    // 如果愿意，可以只使用 app-id="wezterm"
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// 默认以浮动模式打开 Firefox 画中画播放器
window-rule {
    // 此 app-id 正则表达式适用于两者：
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

